h1, h2 {
	margin: 0;
}
.hidden {
	display: none;
}
.choose {
	display: inline-block;
	vertical-align: top;
	border: 2px solid black;
	height: 200px;
	width: 200px;
}
.choose:hover {
	border: 2px solid lime;
}
.dwelling {
	padding: 5px;
}

#status {
	width: 500px;
	height: 400px;
	overflow-y: scroll;
	border: 2px solid black;
}
