h1, h2, h3 {
	margin: 0;
}
.hidden {
	display: none;
}
.choose {
	display: inline-block;
	vertical-align: top;
	border: 2px solid black;
	height: 200px;
	width: 200px;
	padding: 5px;
	margin: 5px;
	background-color: lightcyan;
}
.choose:hover {
	border: 2px solid lime;
}

.statuslikebox {
	height: 450px;
	overflow-y: scroll;
	border: 2px solid black;
	display: inline-block;
}
#statusbox {
	width: 500px;
}
#statusbox > h1 {
	padding: 5px;
}
#choosebox {
	width: 680px;
}
.status {
	padding: 5px;
	margin: 0;
}
